body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
}

.pcb-images img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.bom-section, .description-section, .embed-section {
    margin: 20px 0;
}